/* ================================= Defaults =========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: #d1cfcf;
}

a {
    color: black;
}

section>h2 {
    font-size: 30px;
    display: inline-block;
    border: 2px solid #dee218;
    padding: 10px 20px;
    margin-bottom: 20px;
}

/* .courses h2 {
    border: 2px solid #dee218;
    padding: 10px 20px;
} */

/* ================================= Header/Nav =========================== */

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    padding: 10px 50px;
    align-items: center;
    justify-content: space-between;
    background-color: #04a4f4;
    overflow: hidden;

}


nav>a {
    display: flex;
    align-items: center;
}

nav a p {
    font-size: 25px;
}

nav a span:nth-of-type(1) {
    color: #3a3ab7;
}

nav a span:nth-of-type(2) {
    color: #dee218;
}

nav ul {
    display: flex;
    width: 55%;
    justify-content: space-between;
}

nav ul li a {
    font-size: 20px;
    color: white;
    padding: 10px;
}

nav ul li a:hover {
    color: #dee218;
    border: 2px solid #dee218;
}

nav ul li.drop {
    display: none;
}

/* ================================= Cover Photo =========================== */

.cover {
    position: relative;
    top: 0px;
    height: 700px;
    z-index: 0;
}

.cover video {
    filter: brightness(20%);
    /* width: 100%; */
    /* height: 600px; */
}

/* .cover img {
    filter: brightness(20%);
    width: 100%;
    height: 600px;
} */

.cover div {
    position: relative;
    top: -600px;
    color: white;
    text-align: center;
}

.cover div h1 {
    font-size: 5rem;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.cover div p {
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 40px;
    color: #ffffffb0;
}

.cover div button {
    background-color: #dee218;
    border: none;
    border-radius: 10px;
    width: 150px;
    padding: 15px;
    font-size: 20px;
    margin: 0px 10px;
}

.cover div button:nth-of-type(2) {
    background-color: transparent;
    border: 1px solid #dee218;
    color: #dee218;
}

.cover div button:nth-of-type(1):hover {
    background-color: transparent;
    color: #dee218;
    border: 1px solid #dee218;
}

.cover div button:nth-of-type(2):hover {
    background-color: #dee218;
    color: black;
    border: none;
}

/* ================================= About Us =========================== */
#about {
    position: relative;
    text-align: center;
    background-color: #04a4f427;
    padding: 100px 0px;
}

.aboutus {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    top: 30px;
    z-index: 0;
}

.aboutus .about-caption {
    width: 30%;
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px gray;
    margin-bottom: 20px;
}

.aboutus div:nth-of-type(1) {
    width: 40%;
    padding: 0px !important;
}

.aboutus div:nth-of-type(2) {
    width: 40%;
}

.aboutus div img {
    border-radius: 10px;
}

.aboutus div h3 {
    text-align: center;
}

.aboutus div h3,
.aboutus div p {
    padding: 10px 0px;
}

/* ================================= Courses =========================== */
.courses {
    text-align: center;
    position: relative;
    top: 0px;
    z-index: 0;
    padding-top: 100px;

}

.courses .course {
    display: flex;
    justify-content: space-evenly;
}

.courses .course div {
    width: 30%;
    margin: 20px 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 0px gray;
}

.courses .course h3 {
    padding: 20px 0px;
}

.courses .course p {
    padding: 3px 10px;
}

.courses .course p {
    padding-bottom: 60px;
}

.courses .course img {
    border-radius: 10px 10px 0px 0px;
}

/* ================================= Programs =========================== */
#program {
    background-color: #dfe2183d;
}

/* ================================= Curriculum =========================== */
#curriculum .course div h2 {
    padding-bottom: 10px;
}

#curriculum .course div {
    background-color: #04a4f427;
    padding: 20px 0px 40px 0px;
}

#curriculum .course div:nth-of-type(2) {
    background-color: white;
}

#curriculum .course div:nth-of-type(3) {
    background-color: #dfe2183d;
}

#curriculum p {
    padding: 10px 50px;
}

#curriculum ul li {
    list-style: square;
    text-align: left;
    margin-left: 50px;
    font-weight: 500;
}

/* ================================= Contact =========================== */
#contact {
    background-color: #04a4f427;
    padding-bottom: 20px;
}

#contact .course div {
    width: 20%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#contact .course i {
    font-size: 40px;
}

#contact .course a {
    color: #3a3ab7;
}

#contact .course div:nth-of-type(1),
#contact .course div:nth-of-type(3) {
    background-color: #dfe2183d;
}

#contact .course div:nth-of-type(2),
#contact .course div:nth-of-type(4) {
    background-color: #04a4f427;
}

/* ================================= Map / Form =========================== */
#map {
    padding-top: 20px;
}

#map .course div {
    width: 40%;
}

#map .course div:nth-of-type(2) {
    padding: 20px 0px;

}

#map .course div iframe {
    border-radius: 10px;
}

#map .course form p {
    font-size: 40px;
    padding-top: 20px;
}


#map .course div form input:nth-of-type(1),
#map .course div form input:nth-of-type(2) {
    width: 40%;
}

#map .course div form input:nth-of-type(3),
#map .course div form textarea {
    width: 80%;
}


#map .course form * {
    margin: 10px 0px;
    padding: 10px;
    margin: 10px 0px;
}

#map .course div form button {
    border: none;
    box-shadow: 0px 3px 5px 0px gray;
    width: 150px;
}

/* ================================= Footer =========================== */

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    background-color: black;
    color: white;
    position: relative;
    top: 0px;
    z-index: 0;

}

/* ================================= Media Query =========================== */

@media (max-width: 1000px) {
    /* ================================= Defaults =========================== */

    section>h2 {
        font-size: 20px;
    }

    /* ================================= Nav Bar =========================== */

    nav {
        padding: 20px 0px 0px 20px;
        display: block;
        width: 100%;
        position: fixed;
    }

    nav>a {
        display: flex;
        justify-content: center;
    }

    nav a p {
        font-size: 15px;
    }

    nav a img {
        width: 30px;
        height: 30px;
    }

    nav ul li {
        display: none;
    }

    nav ul {
        position: relative;
        top: -35px;
        width: 100%;
    }

    nav ul li.drop {
        display: block;
        color: white;
        font-size: 30px;
    }

    /* ================================= Cover page =========================== */
    /* .cover img {
        width: 100%;
        height: inherit;
    } */

    .cover {
        position: relative;
        top: -160px;
        height: 700px;
    }

    .cover video {
        width: 100%;
        height: inherit;
    }

    .cover div {
        top: -450px;
    }

    .cover div h1 {
        font-size: 2rem;
        padding-bottom: 10px;
    }

    .cover div p {
        font-size: 1rem;
        padding-bottom: 10px;
    }

    .cover div button {
        padding: 10px;
        margin: 10px;
        width: 100px;
        font-size: medium;
    }

    /* ================================= About Us =========================== */

    #about {
        top: -405px;
        padding: 100px 0px 20px 0px;
    }

    .aboutus {
        flex-direction: column-reverse;
        top: 0px;
    }

    .aboutus div {
        width: 90%;
    }

    .aboutus div:nth-of-type(1),
    .aboutus div:nth-of-type(2) {
        width: 90%;
    }

    .aboutus div img {
        border-radius: 10px;
    }

    /* ================================= Courses =========================== */
    .courses {
        top: -405px;
        z-index: 0;
        padding-top: 100px;

    }

    .courses .course {
        flex-direction: column;
        align-items: center;
    }

    .courses .course div {
        width: 90%;
    }

    /* ================================= Contact =========================== */
    #contact {
        background-color: #04a4f427;
    }

    #contact .course {
        flex-wrap: wrap;
        flex-direction: row;

    }

    #contact .course div {
        width: 40%;
        padding: 10px 5px;
        gap: 20px;

    }

    #contact .course i {
        font-size: 30px;
    }

    #contact .course a {
        color: #3a3ab7;
        margin: 0px 0px;
    }


    /* ================================= Map / Form =========================== */

    #map .course {
        flex-direction: column-reverse;
    }

    #map .course div {
        width: 90%;
    }

    /* ================================= Footer =========================== */

    footer {
        display: flex;
        flex-direction: column;
        padding: 10px 20px 0px 20px;
        align-items: center;
        text-align: center;
        top: -405px;
    }

    footer p {
        padding: 5px 0;
    }

    /* ================================= JavaScript =========================== */

    ul.topnav.responsive li.drop {
        position: absolute;
        top: 0;
        left: 0;
    }

    ul.topnav.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        gap: 10px;
        padding-left: 0%;

    }

    ul.topnav.responsive li {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #00000022;
    }

    ul.topnav.responsive li:last-child {
        background-color: transparent;
        justify-content: flex-start;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}